.category-row {
  padding: 10px 30px;
  background-color: black;
  color: #fff;
  /* border: 3px solid green; */
  overflow: hidden;
}

.carousel-slider {
   max-width: 210vh;
   /* margin: 0 auto; */
   /* border: 2px solid black; */
}

.thumbnail {
  position: relative;
  padding: 4px;
  transition: transform 0.3s ease-in-out;
  /* border: 2px solid blue; */
  /* padding-right: 5px; */

}

.category-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail-img {
  width: 95%;
  height: 300px;        /* Set desired height */
  object-fit: cover;    /* Crop image to fit */
  border-radius: 6px;
}

/* img{
  width: 25%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
} */

.tag-label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 2px 8px;
  font-size: 0.7rem;
  border-radius: 4px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .thumbnail-img {
    height: 160px;
  }

  .category-title {
    font-size: 1.1rem;
  }
}


.slick-prev,
.slick-next {
  z-index: 2;
}




